# Pandas Exercises

In [5]:
import pandas as pd

path = "diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [6]:
data = pd.read_csv(path, names=names)

Print out the age and class of the 100th patient

In [8]:
print(data.loc[100,'age'])
print(data.loc[100,'class'])

33
1

Write code to figure out how many people are classified as not having diabetes, class is 0

In [12]:
noDiabetes = data[data['class'] == 0]
noDiabetes.count()

preg     500
plas     500
pres     500
skin     500
test     500
mass     500
pedi     500
age      500
class    500
dtype: int64

Write code to figure out how many people are classified as having diabetes, class is 1

In [13]:
yesDiabetes = data[data['class'] == 1]
yesDiabetes.count()

preg     268
plas     268
pres     268
skin     268
test     268
mass     268
pedi     268
age      268
class    268
dtype: int64

What percent of people have diabetes in the study

In [30]:
yesDiabetes.count()/data.count()

preg     0.348958
plas     0.348958
pres     0.348958
skin     0.348958
test     0.348958
mass     0.348958
pedi     0.348958
age      0.348958
class    0.348958
dtype: float64

Print out the `"pres"` and `"class"` (no other columns) for the first 5 people

In [14]:
print(data.loc[0:4, ['pres', 'class']])

#print(data.loc[0:4,'class'])

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [15]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [21]:
x=data['plas'].mean()
x

np.float64(120.89453125)

Create a new dataframe with only people that are above the mean found in the above cell.

In [22]:
above = data[data['plas']>x]
above

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new dataframe that only includes people who are above the average value for each column in the dataset. In other words, find the average value for each column, and then find which users have values above all of these average column values.

In [24]:
pregAvg = data['preg'].mean()
plasAvg = data['plas'].mean()
presAvg = data['pres'].mean()
skinAvg = data['skin'].mean()
testAvg = data['test'].mean()
massAvg = data['mass'].mean()
pediAvg = data['pedi'].mean()
ageAvg = data['age'].mean()
classAvg = data['class'].mean()

new = data[(data['preg']>pregAvg) & (data['plas']>plasAvg) & (data['pres']>presAvg) & (data['skin']>skinAvg) & (data['test']>testAvg) & (data['mass']>massAvg) & (data['pedi']>pediAvg) & (data['age']>ageAvg) & (data['class']>classAvg)]
new

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1
215    12   151    70    40   271  41.8  0.742   38      1
236     7   181    84    21   192  35.9  0.586   51      1
259    11   155    76    28   150  33.3  1.353   51      1
375    12   140    82    43   325  39.2  0.528   58      1
424     8   151    78    32   210  42.9  0.516   36      1
458    10   148    84    48   237  37.6  1.001   51      1
546     5   187    76    27   207  43.6  1.034   53      1
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1
614    11   138    74    26   144  36.1  0.557   50      1
663     9   145    80    46   130  37.9  0.637   40      1

*Note: the next 3 problems were not explicitly shown in our tutorial—being able to effectively google and look through documentation is a very important coding tool!* ¯\\\_(ツ)_/¯

Ignoring the index (resetting the index to 0) and using the dataframe from the cell above, sort the values based on `"skin"`, `"test"`, and `"pedi"` values in ascending order. Please write this in one line.

In [ ]:
ascend = new.sort_values(by=["skin","test","pedi"], ascending=True)
ascend

hi

     preg  plas  pres  skin  test  mass   pedi  age  class
236     7   181    84    21   192  35.9  0.586   51      1
43      9   171   110    24   240  45.4  0.721   54      1
614    11   138    74    26   144  36.1  0.557   50      1
546     5   187    76    27   207  43.6  1.034   53      1
259    11   155    76    28   150  33.3  1.353   51      1
152     9   156    86    28   155  34.3  1.189   42      1
603     7   150    78    29   126  35.2  0.692   54      1
206     8   196    76    29   280  37.5  0.605   57      1
424     8   151    78    32   210  42.9  0.516   36      1
215    12   151    70    40   271  41.8  0.742   38      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
612     7   168    88    42   321  38.2  0.787   40      1
375    12   140    82    43   325  39.2  0.528   58      1
663     9   145    80    46   130  37.9  0.637   40      1
458    10   148    84    48   237  37.6  1.001   51      1

Now let's find the 4 largest values for `"age"`

In [50]:
data["age"].nlargest(4).unique()

array([81, 72, 70, 69])

Now find the smallest 4 values for `"pedi"` and `"plas"` in reverse order (smallest to largest).

In [35]:
data["pedi"].nsmallest(4).unique()
#data["plas"].nsmallest(4).unique()

array([0.078, 0.084, 0.085])

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f3d2e979-42f4-4fa4-a66a-116a1c2662d5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>